@font-face {
  font-family: Ashington;
  src: url("../assets/fonts/Ashington.otf");
}

@font-face {
  font-family: Paradise;
  src: url("../assets/fonts/Paradise.otf");
}

@font-face {
  font-family: Josefin;
  src: url("../assets/fonts/JosefinSans-VariableFont_wght.ttf");
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1) url("../assets/photos/background-1.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* color: #fff; */
}

/* title */
.title-container {
  text-align: center;
  padding: 0 10px 0;
}

.title-container h1 {
  font-size: 55px;
  color: #e6b514;
  font-family: Paradise;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.9px;
}

/* .title-container h1 span {
  font-size: 50px;
} */

.title-container h3 {
  font-family: Paradise;
  font-size: 48px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* countdown section */
.countdown-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 15px 15px;
  /* justify-content: space-evenly; */
  /* margin-top: 20px; */
  justify-content: center;
}

.time-container {
  text-align: center;
  margin-right: 18px;
}

.time-container p {
  font-family: Josefin;
  font-size: 35px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.time-container span {
  text-align: center;
  font-weight: 500;
  font-family: Josefin;
}

@media screen and (min-width: 468px) {
  .title-container h1 {
    font-size: 70px;
  }

  .title-container h3 {
    font-size: 60px;
  }

  .content {
    background: rgba(0, 0, 0, 0.1) url("../assets/photos/background-1lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .time-container p {
    font-size: 41px;
  }

  .time-container span {
    font-size: 18px;
  }
}
